/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body, html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }


  .route-fade {
    display: block;
    position: relative;
  }

  .route-fade.ng-enter,
  .route-fade.ng-leave,
  .route-fade.ng-enter.ng-enter-active,
  .route-fade.ng-leave.ng-leave-active {
    transition: opacity 0.5s;
  }

  .route-fade.ng-enter,
  .route-fade.ng-leave.ng-leave-active {
    opacity: 0;
  }

  .route-fade.ng-leave,
  .route-fade.ng-enter.ng-enter-active {
    opacity: 1;
  }